:root {
    --primary-color: white;
}

body {
    background-color: #255d29;
    margin: 0 auto;
    padding: 0;
    font-family: 'Comic Sans', Georgia, serif;
}

header {
    background-color: #012f60;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
.home-title{
    color: #ff6900;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

nav a:hover {
    background-color: #ff6900;
    color: white;
    text-decoration: underline;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-img {
    width: 100%;
    margin: 0 auto;
}

.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.book, .join{
    background-color: #efad04;
    color: #012f60;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: white;
    color: black;
}

.msg{
    background-color: #ffb700;
    line-height: 1.5em;
    padding: 35px;
    grid-column:6/10;
    grid-row:6/7;
    box-shadow: 5px 5px 10px black;
}

.msg h2{
    color: white;
}

.msg p{
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

footer{
    background-color: #012f60;
    color: black;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color: white;
}

footer a:hover{
    color: white
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
    margin-top: 200px;
}

#content {
    font-size: 100%;
    max-width: 1600px;
    margin:0 auto
}

nav a{
    text-align: center;
    color: #ff6900;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}
main section img{
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: bisque;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;
}

h1 {
    font-size: 3px;
}
h2{
    margin: 0;
}
h4 {
    font-size: 1.5em;
    color: black;
}
h1, h2, h3, h4,  h5, h6{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
p {
    color:#ff6900 ;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
div.social img{
    width: 80px;
}
.card-img {
    display:block ;
    margin: 0 auto;
    border: 10px solid black;
    box-shadow: 5px 5px 10px black;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains{
    width: 100%;
}
#hero img{
    width: 100%;
}
.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}