*{box-sizing: border-box;}

body {
    background-color: #737373;
}
img{
    border: 30px;
    border-color: #444444;
    border-radius: 100%;
    margin-inline-start: auto;
}
#title {
    max-width: 100%;
    margin: auto;
    border: 1px;
    border-radius: 0%;
}